In [1]:
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns

In [2]:
df = pd.read_csv("StudentsPerformance.csv")
df.sample(10)

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
477,male,group D,associate's degree,standard,none,80,68,72
797,female,group E,associate's degree,free/reduced,none,70,84,81
246,male,group E,associate's degree,standard,none,89,76,74
491,female,group C,associate's degree,standard,none,64,64,70
642,female,group B,some high school,free/reduced,none,72,81,79
505,female,group B,some high school,standard,none,82,82,80
448,male,group B,high school,standard,none,47,46,42
113,female,group D,some college,standard,none,51,58,54
764,male,group D,some college,standard,none,60,63,59
397,female,group C,associate's degree,standard,none,85,89,95

pip install pandas-profiling

In [3]:
from pandas_profiling import ProfileReport
prof = ProfileReport(df)
prof.to_file(output_file='output.html')

Summarize dataset:   0%|          | 0/5 [00:00<?, ?it/s]

Generate report structure:   0%|          | 0/1 [00:00<?, ?it/s]

Render HTML:   0%|          | 0/1 [00:00<?, ?it/s]

Export report to file:   0%|          | 0/1 [00:00<?, ?it/s]

In [4]:
sns.distplot(df[df['race/ethnicity']=='group B']['math score'])

C:\Users\nagam\anaconda3\lib\site-packages\seaborn\distributions.py:2619: FutureWarning: `distplot` is a deprecated function and will be removed in a future version. Please adapt your code to use either `displot` (a figure-level function with similar flexibility) or `histplot` (an axes-level function for histograms).
  warnings.warn(msg, FutureWarning)

In [5]:
pd.crosstab(df['race/ethnicity']=='group A',['gender'])

col_0           gender
race/ethnicity
False              911
True                89